<h1>The Curl up and Dye Hair Salon</h1>
<h2>Brought to you by Carrie Fisher</h2>

<p>Add a Stylist</p>

<form action="/stylists" method="post">
  <label for="stylist_name">Stylist Name:</label>
  <input id="stylist_name" name="stylist_name" type="text">

  <button type="Submit">Add Stylist!</button>
</form>

<% if @stylists.any?() %>
<p>Click on a Stylist to See Their Clients:</p>

  <ul>
    <% @stylists.each do |stylist| %>
    <li><a href="stylists/<%= stylist.id() %>"><%= stylist.name() %></a></li>
    <% end %>
  </ul>

  <% else %>
  <p>There are no Stylists Added Yet!</p>
<% end %>

<p>Add a Client to any Stylist</p>

<form action="/clients" method="post">
  <select id="stylist_id" name="stylist_id" type="text">
    <% @stylists.each() do |stylist| %>
    <option value="<%= stylist.id() %>"> <%= stylist.name() %></option>
    <% end %>
  </select><br>
  <label for="name">Insert the name of your victim, er!, client!</label><br>
  <input id="name" name="name" type="text">

  <button type="submit">Add A Client</button>
</form>
