<h1>Here's a list of <%= @stylist.name() %>'s clients</h1>

<% if @stylist.clients().any? %>
<h3>Here are all the clients this stylist has:</h3>

<ul>
  <% @stylist.clients().each() do |client|%>
  <li><%= client.name() %></li>
  <% end %>
</ul>

<% end %>

<a href="/">Back to Home Page!</a>
